<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vuejs学习</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="message" placeholder="请输入...">
        <p>输入的内容是：{{message}}</p>
    </div>

    <div id="app2">
        <input type="text" @input="handleInput" placeholder="请输入...">
        <p>输入的内容是：{{message}}</p>
    </div>

    <div id="app3">
        <input type="radio" :checked="picked">
        <label>单选按钮</label>
    </div>
    <div id="app4">
        <input type="radio" v-model="picked" value="html" id="html">
        <label for="html">HTML</label>
        <br>
        <input type="radio" v-model="picked" value="js" id="js">
        <label for="js">Javascript</label>
        <br>
        <input type="radio" v-model="picked" value="css" id="css">
        <label for="css">Css</label>
        <br>
        <p>选择的项是：{{picked}}</p>
    </div>
    <div id="app5">
        <input type="checkbox" v-model="check" id="checked">
        <label for="check">选择的状态：{{check}}</label>
    </div>

    <div id="app6">
        <input type="checkbox" v-model="check" id="html" value="html">
        <label for="html">HTML</label>
        <br>
        <input type="checkbox" v-model="check" id="css" value="css">
        <label for="css">css</label>
        <br>
        <input type="checkbox" v-model="check" id="js" value="javascript">
        <label for="js">javascript</label>
    </div>

    <div id="app7">
        <select name="" id="" v-model="selected">
            <option>html</option>
            <option value="css">css</option>
            <option value="js">javascript</option>
        </select>
        <p>选中的是：{{selected}}</p>
    </div>

    <div id="app8">
        <select name="" id="" v-model="selected" multiple>
                <option>html</option>
                <option>css</option>
                <option value="js">javascript</option>
        </select>
        <p>选中的是：{{selected}}</p>
    </div>

    <div id="app9">
        <select name="" id="" v-model="selected">
            <option v-for="option of options" :value="option.value">{{option.text}}</option>
        </select>
        <p>选中的是：{{selected}}</p>
    </div>


</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: ''
        }
    });
    var app2 = new Vue({
        el: '#app2',
        data: {
            message: ''
        },
        methods: {
            handleInput: function(e) {
                this.message = e.target.value;
            }
        }
    });
    var app3 = new Vue({
        el: "#app3",
        data: {
            picked: false
        }
    });

    var app4 = new Vue({
        el: "#app4",
        data: {
            picked: 'js'
        }
    });
    var app5 = new Vue({
        el: "#app5",
        data: {
            check: false
        }
    })
    var app6 = new Vue({
        el: "#app6",
        data: {
            check: ['javascript']
        }
    })
    var app7 = new Vue({
        el: "#app7",
        data: {
            selected: 'html'
        }
    });
    var app8 = new Vue({
        el: "#app8",
        data: {
            selected: ['html', 'js']
        }
    })
    var app9 = new Vue({
        el: "#app9",
        data: {
            selected: 'html',
            options: [{
                text: 'html',
                value: 'html'
            }, {
                text: 'css',
                value: 'css'
            }, {
                text: 'javascript',
                value: 'js'
            }]
        }
    })
</script>

</html>