<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vuejs学习-proos传值</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <my-component message="来自父组件的数据"></my-component>
    </div>

    <div id="app2">
        <input type="text" v-model="parentMessage">
        <my-component :message="parentMessage"></my-component>
    </div>


</body>
<script>
    Vue.component("my-component", {
        props: ['message'],
        template: '<div>{{message}}</div>'
    });
    var app = new Vue({
        el: "#app"
    })
    var child = {
        props: ['message'],
        template: "<div>{{message}}</div>"
    }
    var app2 = new Vue({
        el: '#app2',
        data: {
            parentMessage: ''
        },
        components: {
            "my-component": child
        }

    })
</script>

</html>