<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>父组件传值给子组件</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <p>v-on绑定</p>
        <p>总数：{{total}}</p>
        <my-component @increase="handleGetTotal" @reduce="handleGetTotal"></my-component>
    </div>
    <div id="app2">
        <p>使用v-model绑定数据</p>
        <p>总数：{{total}}</p>
        <my-component v-model="total"></my-component>
    </div>
    <div id="app3">
        <p>v-model创建自定义表单输入组件</p>
        <p>总数：{{total}}</p>
        <my-component v-model="total"></my-component>
        <button @click="handleReduce">-1</button>
    </div>

    <div id="app4">
        <p>非父子组件间的通信</p>
        <p>{{message}}</p>
        <component-a></component-a>
    </div>

    <div id="app5">
        {{message}}
        <component-a></component-a>
    </div>

    <div id="app6">
        <p>子组件索引</p>
        <button @click="handleRef">通过ref获取子组件</button>
        <component-a ref="comA"></component-a>
    </div>

    <div id="app7">
        <p ref="p">内容</p>
        <child-component ref="child"></child-component>
    </div>


</body>
<script>
    var child = {
        template: '\
<div>\
<button @click="handleIncrease">+1</button>\
<button @click="handleReduce">-1</button>\
</div>\
',
        data: function() {
            return {
                counter: 0
            }
        },
        methods: {
            handleIncrease: function() {
                this.counter++;
                this.$emit('increase', this.counter);
            },
            handleReduce: function() {
                this.counter--;
                this.$emit('reduce', this.counter);
            }
        }
    };
    var app = new Vue({
        el: "#app",
        data: {
            total: 0
        },
        methods: {
            handleGetTotal: function(total) {
                this.total = total;
            }
        },
        components: {
            "my-component": child
        }
    });

    var child2 = {
        template: '\
<div>\
<button @click="handleIncrease">+1</button>\
<button @click="handleReduce">-1</button>\
</div>\
',
        data: function() {
            return {
                counter: 0
            }
        },
        methods: {
            handleIncrease: function() {
                this.counter++;
                this.$emit('input', this.counter);
            },
            handleReduce: function() {
                this.counter--;
                this.$emit('input', this.counter);
            }
        }
    };
    var app2 = new Vue({
        el: "#app2",
        data: {
            total: 0
        },
        components: {
            "my-component": child2
        }
    });
    var child3 = {
        template: '\
<div>\
<input :value="value" @input="updateValue">\
</div>\
',
        data: function() {
            return {
                counter: 0
            }
        },
        props: ['value'],
        methods: {
            updateValue: function(event) {
                this.$emit('input', event.target.value);
            }
        }
    };
    var app3 = new Vue({
        el: "#app3",
        data: {
            total: 0
        },
        components: {
            "my-component": child3
        },
        methods: {
            handleReduce: function() {
                this.total--;
            }
        }
    });
    var bus = new Vue();

    Vue.component("component-a", {
        template: '<button @click="handleEvent">传递事件</button>',
        methods: {
            handleEvent: function() {
                bus.$emit("on-message", '来自组件component-a的内容');
            }
        }
    });

    var app4 = new Vue({
        el: "#app4",
        data: {
            message: ''
        },
        mounted: function() {
            var _this = this;
            bus.$on('on-message', function(msg) {
                _this.message = msg;
            });
        }
    });
    var child5 = {
        template = "<button @click='handleEvent'>通过父链直接修改数据</button>",
        methods: {
            handleEvent: function() {
                this.$parent.message = "来自comomenta的数据"
            }
        }
    }

    var app5 = new Vue({
        el: "#app5",
        data: {
            message: ''
        },
        components: {
            "component-a": child5
        }
    })

    var child6 = {
        template = "<div>子组件</div>",
        data: function() {
            return {
                message: "子组件内容"
            }

        }
    }


    var app6 = new Vue({
        el: "#app6",
        methods: {
            handleRef: function() {
                var msg = this.$ref.comA.message;
                console.log(msg);

            }
        }
    })
</script>

</html>